body {
    background-color: #fffef6;
    color: rgb(0, 0, 0);
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.blog-post {
    margin: 0 auto;
    width: 80%;
}

.title {
    font-size: 3em;
    margin-top: 10vh;
    text-align: left;
}

.date {
    font-size: 1em;
    margin-top: 1vh;
    text-align: left;
}

.markdown-content p {
    margin-bottom: 1.5em;
    /* additional styles for Markdown converted content */
}

.related-links {
    display: flex;
    justify-content: space-between;
}

.link-box {
    width: 30%;
    height: 100px;
    background-color: #555;
    color: white;
    text-align: center;
    line-height: 100px;
}

footer {
    text-align: center;
    font-size: 0.6em;
    margin-top: 2em;
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 50%;  
    transform: translate(-50%, -50%);  
    z-index: 10;  /* Optional, to ensure the logo sits above other elements */
}

.logo-container img {
    width: 60px;  /* Or whatever size you wish */
    height: auto;  /* Maintains aspect ratio */
}

.cover-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.cover-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cover-title {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 5rem;
    color: white;
    line-height: 75px;
}

.cover-excerpt {
    position: absolute;
    position: absolute;
    font-family: "kepler-std-semicondensed", serif;
    font-weight: 400;
    font-style: normal;
    bottom: 50%;
    left: 10%;
    font-size: 1.2rem;
    color: white;
}

.read-more-button {
    position: absolute;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    bottom: 15%;
    left: 10%;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    padding: 5px 12px;
    cursor: pointer;
    text-transform: uppercase;
}

.text-section {
    font-family: "ff-tisa-web-pro", serif;
    color: #553535;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    margin: 40px;
    margin-top: 20px;
    line-height: 25px;
}

.publication-date {
    display: inline-flex;
    background: #ED1C24;
    color: white;
    opacity: 0.8;
    width: auto;
    margin-bottom: 15px;
    border-radius: 50px;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    margin-right: 10px;
    padding: 0 12px;
}

.publication-tags {
    display: inline-flex;
    background: #2E3192;
    color: white;
    opacity: 0.8;
    width: auto;
    margin-bottom: 15px;
    border-radius: 50px;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    margin-right: 10px;
    padding: 0 12px;
    text-transform: uppercase;
}

.metadata-container {
    display: flex;
    align-items: center;
}

